/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */
/* line 3, ../sass/_normalize.sass */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 8, ../sass/_normalize.sass */
body {
  margin: 0; }

/* line 11, ../sass/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 14, ../sass/_normalize.sass */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

/* line 18, ../sass/_normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 22, ../sass/_normalize.sass */
[hidden], template {
  display: none; }

/* line 25, ../sass/_normalize.sass */
a {
  background-color: transparent; }
  /* line 27, ../sass/_normalize.sass */
  a:active, a:hover {
    outline: 0; }

/* line 30, ../sass/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 33, ../sass/_normalize.sass */
b, strong {
  font-weight: bold; }

/* line 36, ../sass/_normalize.sass */
dfn {
  font-style: italic; }

/* line 39, ../sass/_normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 43, ../sass/_normalize.sass */
mark {
  background: #ff0;
  color: #000; }

/* line 47, ../sass/_normalize.sass */
small {
  font-size: 80%; }

/* line 50, ../sass/_normalize.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 56, ../sass/_normalize.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

/* line 63, ../sass/_normalize.sass */
sub {
  bottom: -0.25em; }

/* line 66, ../sass/_normalize.sass */
img {
  border: 0; }

/* line 69, ../sass/_normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 72, ../sass/_normalize.sass */
figure {
  margin: 1em 40px; }

/* line 75, ../sass/_normalize.sass */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 79, ../sass/_normalize.sass */
pre {
  overflow: auto; }

/* line 82, ../sass/_normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 86, ../sass/_normalize.sass */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 91, ../sass/_normalize.sass */
button {
  overflow: visible;
  text-transform: none; }

/* line 95, ../sass/_normalize.sass */
select {
  text-transform: none; }

/* line 98, ../sass/_normalize.sass */
button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 103, ../sass/_normalize.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 107, ../sass/_normalize.sass */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 110, ../sass/_normalize.sass */
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 114, ../sass/_normalize.sass */
input {
  line-height: normal; }
  /* line 115, ../sass/_normalize.sass */
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  /* line 119, ../sass/_normalize.sass */
  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }
  /* line 123, ../sass/_normalize.sass */
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  /* line 125, ../sass/_normalize.sass */
  input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }
    /* line 128, ../sass/_normalize.sass */
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

/* line 131, ../sass/_normalize.sass */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 136, ../sass/_normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 140, ../sass/_normalize.sass */
textarea {
  overflow: auto; }

/* line 143, ../sass/_normalize.sass */
optgroup {
  font-weight: bold; }

/* line 146, ../sass/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 150, ../sass/_normalize.sass */
td, th {
  padding: 0; }

/* line 2, ../sass/_grid.sass */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 7fr 1fr; }

/* line 7, ../sass/_grid.sass */
.main-header {
  grid-column: 1/2;
  grid-row: 1/2; }

/* line 11, ../sass/_grid.sass */
.nav-top {
  grid-column: 2/4;
  grid-row: 1/2; }

/* line 15, ../sass/_grid.sass */
.main-btn {
  grid-column: 1/4;
  grid-row: 2/3; }

/* line 19, ../sass/_grid.sass */
.other-btn {
  grid-column: 1/4;
  grid-row: 3/4; }

/* line 23, ../sass/_grid.sass */
.footer {
  grid-column: 1/4;
  grid-row: 4/5; }

/* line 2, ../sass/_layouts.sass */
* {
  box-sizing: border-box; }

/* line 4, ../sass/_layouts.sass */
ul {
  list-style: none; }

/* line 6, ../sass/_layouts.sass */
li {
  display: inline-flex; }

/* line 8, ../sass/_layouts.sass */
a {
  text-decoration: none;
  color: #3498db; }

/* line 14, ../sass/_layouts.sass */
.bg-prim {
  background-color: #8e44ad; }

/* line 16, ../sass/_layouts.sass */
.prim {
  color: #8e44ad; }

/* line 14, ../sass/_layouts.sass */
.bg-warning {
  background-color: #f1c40f; }

/* line 16, ../sass/_layouts.sass */
.warning {
  color: #f1c40f; }

/* line 14, ../sass/_layouts.sass */
.bg-done {
  background-color: #2ecc71; }

/* line 16, ../sass/_layouts.sass */
.done {
  color: #2ecc71; }

/* line 14, ../sass/_layouts.sass */
.bg-info {
  background-color: #3498db; }

/* line 16, ../sass/_layouts.sass */
.info {
  color: #3498db; }

/* line 14, ../sass/_layouts.sass */
.bg-danger {
  background-color: #e74c3c; }

/* line 16, ../sass/_layouts.sass */
.danger {
  color: #e74c3c; }

/* line 14, ../sass/_layouts.sass */
.bg-lux {
  background-color: #ecf0f1; }

/* line 16, ../sass/_layouts.sass */
.lux {
  color: #ecf0f1; }

/* line 14, ../sass/_layouts.sass */
.bg-shadow {
  background-color: #2c3e50; }

/* line 16, ../sass/_layouts.sass */
.shadow {
  color: #2c3e50; }

/* line 19, ../sass/_layouts.sass */
.wrapper {
  max-width: 480px;
  margin: 0 auto; }

/* Header */
/* line 24, ../sass/_layouts.sass */
header {
  position: relative;
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  /* line 31, ../sass/_layouts.sass */
  header nav {
    width: 75%; }
  /* line 33, ../sass/_layouts.sass */
  header ul {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0px; }
    /* line 39, ../sass/_layouts.sass */
    header ul li {
      align-items: center; }
    /* line 41, ../sass/_layouts.sass */
    header ul a {
      padding: 5px 20px; }

/* Main */
/* line 47, ../sass/_layouts.sass */
.other-btn h2 {
  text-align: right;
  font-size: 1em;
  text-transform: uppercase; }
/* line 51, ../sass/_layouts.sass */
.other-btn article {
  padding: 4px;
  border-bottom: 2px solid #2c3e50; }

/* Footer */
/* line 58, ../sass/_layouts.sass */
.footer {
  background: #cbd7e3;
  text-align: center;
  text-transform: lowercase;
  padding: 10px 0; }

/*# sourceMappingURL=master.css.map */
